.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}
.horizontal-scrollable > .row > .card {
    display: inline-block;
    float: none;
}
.row::-webkit-scrollbar {
    display: none;
}
  
.card{
    display: inline-block;
    border: none;
    border-radius: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 20rem;
    width: 16rem;
}
.card img{
    height: 20rem;
    width: 16rem;
}
.card .card-img-overlay{
    font-size: small;
    height: 20rem;
    width: 16rem;
    background-color: rgba(0, 0, 0, 0.534) !important;
    display: none;
}
.card:hover .card-img-overlay{
    display: block;
}

@media screen and (min-width: 768px) {
    .horizontal-scrollable .col-md-6 {
        width: 45%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .horizontal-scrollable .col-lg-4 {
        width: 24%;
        margin: 0 2.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .horizontal-scrollable .col-lg-4 {
        width: 24%;
        margin: 0 1.5rem;
    }
}

.nav-pills{
    background-color: rgba(128, 128, 128, 0.097);
    width: 40rem;
    margin: 0 auto;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
}
.nav-pills button{
    background-color: rgba(128, 128, 128, 0.097);
}
.nav-pills button i{
    font-size: x-large !important;
}
.nav-pills li{
    margin: 0 4rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black !important;
    background-color: rgba(128, 128, 128, 0);
}
.btn-secondary{
    background-color: #F50157;
    border: none;
    padding: 1rem 1.8rem;
}
#blockproducts{
    flex-wrap: wrap;
}